/node_modules
/vendor
.env
.env.*
!.env.example
/storage/*.key
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/testing/*
/storage/framework/views/*
/storage/logs/*
/public/storage
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.DS_Store
composer.phar
.phpunit.result.cache
/.idea
/.vscode
*.sqlite
*.sqlite-journal
public/assets/img/
public/assets/videos/
public/uploads/
resources.zip
